/*

div.login_box{
    position: absolute;
    
    left: 50%; top:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.login_page_title{
    padding-top: 9vh;
    text-align:center;
    vertical-align: middle;
    font-size: 3vh;
}

#email{
    position: relative;
    height:fit-content;
    width:32vh;
    height: 4vh;
    font-size: 3vh;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

#senha{
    position: relative;
    height:fit-content;
    width:32vh;
    height: 4vh;
    font-size:3vh;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
input.esqueceu_senha{
    width: 1vw;
    height: 1vw;
}
label.labeles{
    font-size: 2vh;
}
#botao_login{
    border-radius: 30px;
    color: black;
    border: none;
    background-color: yellow;
    width: 12vh;
    height: 3vh;
    font-size: 2vh;
}

footer.rodape{
    position: relative;
}
*/


#email, #senha{
    font-size: 2vh;
    height: fit-content;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}

form {
    position: absolute;
    left: 50% ;
    top : 50% ;
    transform: translate(-50%,-50%);
    text-align: center;
   

}

footer {
    position: absolute;
    left: 50% ;
    top :80%;
    transform: translate(-50%,-80%);
    text-align: center;

}

header {
    position: absolute;
    left: 50% ;
    top: 20%;
    transform: translate(-50%,-20%);
    text-align:center;
    font-size: 1.9vh;
}

#botao_login 
{
    padding-inline: 6vh;
    border-radius: 30px;
    border: none;
    background-color: yellow;
}








































